.BlocksThatMatterUserDatas/
.CFUserTextEncoding
.Trash/
.Xauthority
.adobe/
.android/
.bash_history
.bashrc
.chef/
.cocoapods/
.config/
.cups/
.dropbox/
.filezilla/
.fontconfig/
.gconf/
.gconfd/
.gdb_history
.gem/
.gemrc
.gitconfig
.githelpers
.gitignore_global
.gitk
.gnucash/
.heroku/
.hushlogin
.ievms/
.irb-history
.irb_history
.irbrc
.itmstransporter/
.kdiff3rc
.lesshst
.macports/
.matplotlib/
.mplayer/
.mysql_history
.pinboard
.pow
.profile
.pry_history
.psql_history
.rbenv/
.rdebug_hist
.recently-used.xbel
.sqlite_history
.ssh/
.subversion/
.vim/
.viminfo
.vimrc
.weinre/
.wireshark-etc/
.wireshark/
BeanStalk/
Desktop/
Documents/
Downloads/
GitHub/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
VirtualBox VMs/
android-sdks/
bin/
crossfit
paros/
script
system.gems
vukani-rails
wiki
