.BlocksThatMatterUserDatas/
.Trash/
.adobe/
.android/
.chef/
.cocoapods/
.config/
.cups/
.dropbox/
.filezilla/
.fontconfig/
.gconf/
.gconfd/
.gem/
.gnucash/
.heroku/
.ievms/
.itmstransporter/
.macports/
.matplotlib/
.mplayer/
.rbenv/
.ssh/
.subversion/
.weinre/
.wireshark-etc/
.wireshark/

.Xauthority
.CFUserTextEncoding
.bash_history
.gdb_history
.gemrc
.gitk
.gmail
.hushlogin
.irb-history
.irb_history
.irbrc
.kdiff3rc
.lesshst
.mysql_history
.pinboard
.pow
.pry_history
.psql_history
.rdebug_hist
.recently-used.xbel
.rediscli_history
.sqlite_history
.viminfo

BeanStalk/
Desktop/
Documents/
Downloads/
GitHub/
Google Drive/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
VirtualBox VMs/
android-sdks/
paros/

deployinator
crossfit
script
system.gems
vukani-rails
wiki
.DS_Store
.Genymobile/
.IdeaIC14/
.cache/
.cpan/
.dbshell
.gradle
.guard_history
.erlang.cookie
.htoprc
.httpie/
.ionic/
.local/
.m2/
.mongorc.js
.netrc
.node-gyp/
.npm
.papertrail.yml
.pip/
.rnd
.putty/
.pgpass
.pgadmin_histoqueries
Applications (Parallels)
Applications (Parallels)/
Applications/
Dropbox
Dropbox (Personal)/
iMacros/
neo4j-community-2.0.0-M06/
pgadmin.log
.bundle/

# Cisco specific paths
.anyconnect
.cisco/
.gnupg/
bin/cisco/
