# Allows for user to be specified in seperate file, which is ignored by .gitignore
# for machine specific git user accounts
[include]
  path = ~/.gituser

[color]
  ui = auto
[core]
  excludesfile = /Users/gavinmiller/.gitignore_global
  editor = vimdiff
[alias]
  # Aliases borrowed heavily from:
  # https://github.com/garybernhardt/dotfiles/blob/master/.gitconfig
  st = status
  ci = commit
  co = checkout
  di = diff
  dc = diff --cached
  ff = merge --ff-only
  amend = commit --amend
  pom = push origin master
  head = show HEAD
  prp = pull --rebase --prune

  # fetch-all => fetch & prune origin and upstream
  fa = "!git fetch origin --prune && git remote | grep upstream > /dev/null && git fetch upstream --prune"

  # Merge upstream into master
  merge-up = !git fetch upstream && git merge upstream/master && git pom

  # Delete remote branch
  delete-remote-branch = !git push origin --delete

  # Delete remote tag
  # git tag -d release01
  # git push origin :refs/tags/release01

  tags = tag -n10

  # Fancy logging.
  #   r = recent commits, only current branch
  #   ra = recent commits, all reachable refs
  #   l = all commits, only current branch
  #   la = all commits, all reachable refs
  r = !git l -30
  ra = !git r --all

  # Source of bashrc require'd  to access functions in .bash/<platform>/aliases
  # Ideally this would be less heavy handed
  l = "!source ~/.githelpers && source ~/.bashrc && pretty_git_log"
  la = !git l --all

  # Branch Output
  b = "!~/bin/gbrt"
[color "diff"]
  whitespace = red reverse
[commit]
  template = ~/.gitmessage
	gpgsign = true
[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustexitcode = true
[merge]
  tool = Kaleidoscope
[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
  prompt = false
[mergetool]
  prompt = false
[diff]
  tool = Kaleidoscope
