.BlocksThatMatterUserDatas/
.Trash/
.adobe/
.android/
.chef/
.cocoapods/
.config/
.cups/
.dropbox/
.filezilla/
.fontconfig/
.gconf/
.gconfd/
.gem/
.gnucash/
.heroku/
.ievms/
.itmstransporter/
.macports/
.matplotlib/
.mplayer/
.rbenv/
.ssh/
.subversion/
.weinre/
.wireshark-etc/
.wireshark/

.Xauthority
.CFUserTextEncoding
.bash_history
.gdb_history
.gemrc
.gitk
.hushlogin
.irb-history
.irb_history
.irbrc
.kdiff3rc
.lesshst
.mysql_history
.pinboard
.pow
.pry_history
.psql_history
.rdebug_hist
.recently-used.xbel
.sqlite_history
.viminfo

BeanStalk/
Desktop/
Documents/
Downloads/
GitHub/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
VirtualBox VMs/
android-sdks/
paros/

crossfit
script
system.gems
vukani-rails
wiki
