[submodule ".vim/bundle/vim-ruby"]
  path = .vim/bundle/vim-ruby
  url = git@github.com:vim-ruby/vim-ruby.git
  ignore = dirty
[submodule ".vim/bundle/vim-rails"]
  path = .vim/bundle/vim-rails
  url = git@github.com:tpope/vim-rails.git
  ignore = dirty
[submodule ".vim/bundle/vim-bundler"]
  path = .vim/bundle/vim-bundler
  url = git@github.com:tpope/vim-bundler.git
  ignore = dirty
[submodule ".vim/bundle/vim-fugitive"]
  path = .vim/bundle/vim-fugitive
  url = git@github.com:tpope/vim-fugitive.git
  ignore = dirty
[submodule ".vim/bundle/vim-colors-solarized"]
  path = .vim/bundle/vim-colors-solarized
  url = git@github.com:altercation/vim-colors-solarized.git
  ignore = dirty
[submodule ".vim/bundle/ack.vim"]
  path = .vim/bundle/ack.vim
  url = git@github.com:mileszs/ack.vim.git
  ignore = dirty
[submodule ".vim/bundle/vim-jsx"]
  path = .vim/bundle/vim-jsx
  url = git@github.com:mxw/vim-jsx.git
  ignore = dirty
[submodule ".vim/bundle/vim-coffee-script"]
  path = .vim/bundle/vim-coffee-script
  url = git@github.com:kchmck/vim-coffee-script.git
  ignore = dirty
[submodule ".vim/bundle/vim-less"]
  path = .vim/bundle/vim-less
  url = git@github.com:groenewege/vim-less.git
  ignore = dirty
[submodule ".vim/bundle/python.vim"]
  path = .vim/bundle/python.vim
  url = git@github.com:vim-scripts/python.vim.git
  ignore = dirty
[submodule ".vim/bundle/vim-haproxy"]
  path = .vim/bundle/vim-haproxy
  url = git@github.com:vim-scripts/haproxy.git
  ignore = dirty
[submodule ".vim/bundle/ctrlp.vim"]
  path = .vim/bundle/ctrlp.vim
  url = git@github.com:ctrlpvim/ctrlp.vim.git
  ignore = dirty
[submodule ".vim/bundle/vim-php"]
	path = .vim/bundle/vim-php
	url = https://github.com/StanAngeloff/php.vim.git
  ignore = dirty
[submodule ".vim/bundle/vim-go"]
  path = .vim/bundle/vim-go
  url = git@github.com:fatih/vim-go.git
  ignore = dirty
[submodule "personal-notes"]
	path = personal-notes
	url = git@github.com:gavingmiller/personal-notes.git
[submodule ".vim/bundle/typescript-vim"]
	path = .vim/bundle/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule ".vim/bundle/indentLine"]
	path = .vim/bundle/indentLine
	url = git@github.com:Yggdroot/indentLine.git
