[user]
  name = Gavin Miller
  email = gavingmiller@gmail.com
[color]
  ui = auto
[core]
  excludesfile = /Users/gavinmiller/.gitignore_global
  editor = vimdiff
[alias]
  st = status
  ci = commit
  dc = diff --cached
  pom = push origin master


  # Fancy logging.
  r = !git l -30
  ra = !git r --all
  # Where does pretty_git_log come from?
  l = "!source ~/.githelpers && pretty_git_log"

